<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.upm.etsiinf.pmd.practica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <service
            android:name=".services.ServicioActualizacionReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <activity android:name=".activities.DetalleArticulo_act"/>
        <activity android:name=".activities.DeleteArticle_act" />
        <service android:name=".activities.ActualizacionArticles_act"></service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditArticle_act" />
        <activity android:name=".activities.Login_act" />
        <activity android:name=".activities.CreateArticle_act" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>